.bundle

# Node
# https://github.com/github/gitignore/blob/master/Node.gitignore
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
package-lock.json
node_modules
jspm_packages

# Output of 'npm pack'
*.tgz
*.gz

# macOS
.DS_Store

# Don't commit a local deployment.
server
production
staging
build

.devcontainer/server/data/*
.devcontainer/server/files/*
.devcontainer/server/images/*
.devcontainer/server/media/*
