{{!< default}}

<section class="p-outer">
    <div
        class="sqs-block html-block sqs-block-html"
        data-block-type="2"
        id="block-yui_3_17_2_12_1420991495883_10887"
    >
        <div class="sqs-block-content">
            <h1 style="white-space:pre-wrap;">Hello.</h1>
            <p class="" style="white-space:pre-wrap;">Hi. My name is
                <strong>Justin Williams</strong>. I am an independent software
                developer located in sunny Denver, Colorado.</p>

            <h2 style="white-space:pre-wrap;">Where You May Know Me From</h2>
            <ul data-rte-list="default">
                <li><p class="" style="white-space:pre-wrap;"><strong
                        >PocketTweets</strong>
                        — The first iPhone Twitter client way back in the summer
                        of 2007.</p></li>
                <li><p class="" style="white-space:pre-wrap;"><strong
                        >Elements</strong>
                        — The first Dropbox text editor for the iPhone and iPad.
                        Released in the summer of 2011.</p></li>
                <li><p class="" style="white-space:pre-wrap;"><strong
                        >Glassboard</strong>
                        — The privacy-focused messaging platform for iOS and
                        Android I acquired in December 2013.</p></li>
                <li><p class="" style="white-space:pre-wrap;"><a
                            href="/cocoaradio"
                        ><strong>CocoaRadio</strong></a>
                        — The Apple developer-oriented podcast I hosted in 2014.</p></li>
                <li><p class="" style="white-space:pre-wrap;"><a
                            href="https://github.com/justin/Achieving-Zen-With-Auto-Layout/"
                        ><strong>Achieving Zen with Auto Layout</strong></a>
                        — The popular developer conference talk and book I
                        produced from 2013-2014.</p></li>
            </ul>
        </div>
        <div class="map">
            <img
                src="https://snapshot.apple-mapkit.com/api/v1/snapshot?center=39.74612930572107%2C-104.9854732582339&t=standard&scale=2&spn=0.07774084929617686%2C0.09149551391601562&size=583x608&lang=en-US&poi=1&annotations=%5B%7B%22point%22%3A%2239.75238037109375%2C-104.9994125366211%22%2C%22markerStyle%22%3A%22balloon%22%2C%22color%22%3A%22ff5b40%22%7D%5D&teamId=7B7LC48KU7&keyId=L62X8HAFVX&signature=jHJhqnPqRsJWU9B0rj7AB4gYXCjzE5QQdWGlQLdnTpIztPFPggOKcSxGjp7KPgFSTHLpKrB6v2CPQmaEJUcHgg"
            />
        </div>
    </div>

    <div class="row sqs-row" id="yui_3_17_2_1_1672872496230_75"><div
            class="col sqs-col-4 span-4"
        ><div
                class="sqs-block html-block sqs-block-html"
                data-block-type="2"
                id="block-d8a713ad52bc1f08ed6c"
            ><div class="sqs-block-content">

                    <h1 style="white-space:pre-wrap;">Career Stops</h1>

                </div></div></div><div
            class="col sqs-col-8 span-8"
            id="yui_3_17_2_1_1672872496230_74"
        ><div
                class="sqs-block image-block sqs-block-image sqs-col-2 span-2 float float-right sqs-text-ready"
                data-aspect-ratio="96.51162790697676"
                data-block-type="5"
                id="block-yui_3_17_2_1_1653335911408_45272"
            ><div class="sqs-block-content" id="yui_3_17_2_1_1672872496230_73">

                    <div
                        class="image-block-outer-wrapper layout-caption-hidden design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none sqs-narrow-width"
                        data-test="image-block-inline-outer-wrapper"
                        id="yui_3_17_2_1_1672872496230_72"
                    >

                        <figure
                            class="sqs-block-image-figure intrinsic"
                            style="max-width:594px;"
                            id="yui_3_17_2_1_1672872496230_71"
                        >

                            <a
                                class="sqs-block-image-link"
                                href="https://www.neurotrack.com"
                                id="yui_3_17_2_1_1672872496230_70"
                            >

                                <div
                                    class="image-block-wrapper"
                                    data-animation-role="image"
                                    id="yui_3_17_2_1_1672872496230_69"
                                >
                                    <div
                                        class="sqs-image-shape-container-element has-aspect-ratio"
                                        style="
                position: relative;

                  padding-bottom:96.51162719726562%;

                overflow: hidden;
              "
                                        id="yui_3_17_2_1_1672872496230_68"
                                    >

                                        <noscript>&lt;img
                                            src="https://images.squarespace-cdn.com/content/v1/54b21b50e4b0ded43011c17c/1fa9931d-a13f-4cde-af38-6cea37826a9e/Neurotrack.png"
                                            alt="Neurotrack Logo" /&gt;</noscript><img
                                            class="thumb-image loaded"
                                            data-src="https://images.squarespace-cdn.com/content/v1/54b21b50e4b0ded43011c17c/1fa9931d-a13f-4cde-af38-6cea37826a9e/Neurotrack.png"
                                            data-image="https://images.squarespace-cdn.com/content/v1/54b21b50e4b0ded43011c17c/1fa9931d-a13f-4cde-af38-6cea37826a9e/Neurotrack.png"
                                            data-image-dimensions="594x576"
                                            data-image-focal-point="0.5,0.5"
                                            data-load="false"
                                            data-image-id="628be9009040ec7f266e4b46"
                                            data-type="image"
                                            style="left: 0%; top: -0.237313%; width: 100%; height: 100.474626%; position: absolute;"
                                            alt="Neurotrack Logo"
                                            data-image-resolution="500w"
                                            src="https://images.squarespace-cdn.com/content/v1/54b21b50e4b0ded43011c17c/1fa9931d-a13f-4cde-af38-6cea37826a9e/Neurotrack.png?format=500w"
                                        />

                                    </div>
                                </div>

                            </a>

                        </figure>

                    </div>

                </div></div><div
                class="sqs-block html-block sqs-block-html"
                data-block-type="2"
                id="block-yui_3_17_2_1_1653335911408_41376"
            ><div class="sqs-block-content">

                    <h3 style="white-space:pre-wrap;">Neurotrack, iOS
                        Development Lead</h3><p
                        class=""
                        style="white-space:pre-wrap;"
                    >Coordinated with stakeholders across web, mobile, and
                        backend to develop a new API for the distribution and
                        administration of cognitive exams. Built the iOS
                        integration of said API and deployed it across all six
                        cognitive exams.
                    </p><p class="" style="white-space:pre-wrap;">Worked with
                        design team to define the company-wide design language
                        and style guide. This was deployed across iOS, Android,
                        and Web applications.
                    </p>

                </div></div><div
                class="sqs-block image-block sqs-block-image sqs-col-2 span-2 float float-right sqs-text-ready"
                data-aspect-ratio="36.13138686131387"
                data-block-type="5"
                id="block-yui_3_17_2_1_1530983929841_23717"
            ><div class="sqs-block-content" id="yui_3_17_2_1_1672872496230_101">

                    <div
                        class="image-block-outer-wrapper layout-caption-hidden design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none sqs-narrow-width"
                        data-test="image-block-inline-outer-wrapper"
                        id="yui_3_17_2_1_1672872496230_100"
                    >

                        <figure
                            class="sqs-block-image-figure intrinsic"
                            style="max-width:491px;"
                            id="yui_3_17_2_1_1672872496230_99"
                        >

                            <div
                                class="image-block-wrapper"
                                data-animation-role="image"
                                id="yui_3_17_2_1_1672872496230_98"
                            >
                                <div
                                    class="sqs-image-shape-container-element has-aspect-ratio"
                                    style="
                position: relative;

                  padding-bottom:36.131385803222656%;

                overflow: hidden;
              "
                                    id="yui_3_17_2_1_1672872496230_97"
                                >

                                    <noscript>&lt;img
                                        src="https://images.squarespace-cdn.com/content/v1/54b21b50e4b0ded43011c17c/1530984571477-Q120U7CURALYA2DY8HC4/TED"
                                        alt="TED" /&gt;</noscript><img
                                        class="thumb-image loaded"
                                        data-src="https://images.squarespace-cdn.com/content/v1/54b21b50e4b0ded43011c17c/1530984571477-Q120U7CURALYA2DY8HC4/TED"
                                        data-image="https://images.squarespace-cdn.com/content/v1/54b21b50e4b0ded43011c17c/1530984571477-Q120U7CURALYA2DY8HC4/TED"
                                        data-image-dimensions="491x178"
                                        data-image-focal-point="0.5,0.5"
                                        data-load="false"
                                        data-image-id="5b40f87b0e2e72bb803d00b5"
                                        data-type="image"
                                        style="left: 0%; top: -0.285789%; width: 100%; height: 100.571579%; position: absolute;"
                                        alt="TED"
                                        data-image-resolution="500w"
                                        src="https://images.squarespace-cdn.com/content/v1/54b21b50e4b0ded43011c17c/1530984571477-Q120U7CURALYA2DY8HC4/TED?format=500w"
                                    />

                                </div>
                            </div>

                        </figure>

                    </div>

                </div></div><div
                class="sqs-block html-block sqs-block-html"
                data-block-type="2"
                id="block-yui_3_17_2_1_1530983929841_35143"
            ><div class="sqs-block-content">

                    <h3 style="white-space:pre-wrap;">TED, Mobile Development
                        Lead</h3><p class="" style="white-space:pre-wrap;">Led
                        development of visual redesign that shipped in June
                        2018.&nbsp;Led years-long transition from code base
                        designed for the original iPad and iOS 3.2 to support
                        modern technologies such as Auto Layout, adaptivity, and
                        Swift. Built and deployed first and second generation of
                        TED’s custom video player using AV Foundation.
                        Coordinated, developed, and deployed app in 20
                        additional languages.</p><p
                        class=""
                        style="white-space:pre-wrap;"
                    >Collaborated with other teams in the organization to bring
                        syncing of TED.com accounts to the iOS product. Reduced
                        in-app crashes 50% year over year.</p>

                </div></div><div
                class="sqs-block image-block sqs-block-image sqs-col-2 span-2 float float-right sqs-text-ready"
                data-aspect-ratio="99.4186046511628"
                data-block-type="5"
                id="block-yui_3_17_2_1_1530983929841_49619"
            ><div class="sqs-block-content" id="yui_3_17_2_1_1672872496230_119">

                    <div
                        class="image-block-outer-wrapper layout-caption-hidden design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none sqs-narrow-width"
                        data-test="image-block-inline-outer-wrapper"
                        id="yui_3_17_2_1_1672872496230_118"
                    >

                        <figure
                            class="sqs-block-image-figure intrinsic"
                            style="max-width:420px;"
                            id="yui_3_17_2_1_1672872496230_117"
                        >

                            <div
                                class="image-block-wrapper"
                                data-animation-role="image"
                                id="yui_3_17_2_1_1672872496230_116"
                            >
                                <div
                                    class="sqs-image-shape-container-element has-aspect-ratio"
                                    style="
                position: relative;

                  padding-bottom:99.4186019897461%;

                overflow: hidden;
              "
                                    id="yui_3_17_2_1_1672872496230_115"
                                >

                                    <noscript>&lt;img
                                        src="https://images.squarespace-cdn.com/content/v1/54b21b50e4b0ded43011c17c/1530984321360-M2YOLS131P7X41DG06DN/hipstamatic"
                                        alt="hipstamatic" /&gt;</noscript><img
                                        class="thumb-image loaded"
                                        data-src="https://images.squarespace-cdn.com/content/v1/54b21b50e4b0ded43011c17c/1530984321360-M2YOLS131P7X41DG06DN/hipstamatic"
                                        data-image="https://images.squarespace-cdn.com/content/v1/54b21b50e4b0ded43011c17c/1530984321360-M2YOLS131P7X41DG06DN/hipstamatic"
                                        data-image-dimensions="420x420"
                                        data-image-focal-point="0.5,0.5"
                                        data-load="false"
                                        data-image-id="5b40f781f950b7059f77a847"
                                        data-type="image"
                                        style="left: 0%; top: -0.292398%; width: 100%; height: 100.584795%; position: absolute;"
                                        alt="hipstamatic"
                                        data-image-resolution="500w"
                                        src="https://images.squarespace-cdn.com/content/v1/54b21b50e4b0ded43011c17c/1530984321360-M2YOLS131P7X41DG06DN/hipstamatic?format=500w"
                                    />

                                </div>
                            </div>

                        </figure>

                    </div>

                </div></div><div
                class="sqs-block html-block sqs-block-html"
                data-block-type="2"
                id="block-yui_3_17_2_1_1530983929841_49887"
            ><div class="sqs-block-content">

                    <h3 style="white-space:pre-wrap;">Hipstamatic, Senior iOS
                        Developer&nbsp;</h3><p
                        class=""
                        style="white-space:pre-wrap;"
                    >Designed, developed, and implemented new features for
                        popular camera application Hipstamatic. Assisted in
                        production of Snap Magazine for iPad, which was read by
                        over 100,000 people. In charge of special projects
                        related to sharing both externally and internally within
                        the Hipstamatic ecosystem.</p><p
                        class=""
                        style="white-space:pre-wrap;"
                    >Shrunk my jean size by two inches. Grew a mustache.
                        Listened to a lot of Bon Iver and Mumford &amp; Sons.</p>

                </div></div><div
                class="sqs-block image-block sqs-block-image sqs-col-2 span-2 float float-right sqs-text-ready"
                data-aspect-ratio="35.278514588859416"
                data-block-type="5"
                id="block-yui_3_17_2_1_1530983929841_89361"
            ><div class="sqs-block-content" id="yui_3_17_2_1_1672872496230_137">

                    <div
                        class="image-block-outer-wrapper layout-caption-hidden design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none sqs-narrow-width"
                        data-test="image-block-inline-outer-wrapper"
                        id="yui_3_17_2_1_1672872496230_136"
                    >

                        <figure
                            class="sqs-block-image-figure intrinsic"
                            style="max-width:886px;"
                            id="yui_3_17_2_1_1672872496230_135"
                        >

                            <div
                                class="image-block-wrapper"
                                data-animation-role="image"
                                id="yui_3_17_2_1_1672872496230_134"
                            >
                                <div
                                    class="sqs-image-shape-container-element has-aspect-ratio"
                                    style="
                position: relative;

                  padding-bottom:35.27851486206055%;

                overflow: hidden;
              "
                                    id="yui_3_17_2_1_1672872496230_133"
                                >

                                    <noscript>&lt;img
                                        src="https://images.squarespace-cdn.com/content/v1/54b21b50e4b0ded43011c17c/1530984441229-M7Z6982TF2683FFM73D0/HotelTonight"
                                        alt="HotelTonight" /&gt;</noscript><img
                                        class="thumb-image loaded"
                                        data-src="https://images.squarespace-cdn.com/content/v1/54b21b50e4b0ded43011c17c/1530984441229-M7Z6982TF2683FFM73D0/HotelTonight"
                                        data-image="https://images.squarespace-cdn.com/content/v1/54b21b50e4b0ded43011c17c/1530984441229-M7Z6982TF2683FFM73D0/HotelTonight"
                                        data-image-dimensions="886x569"
                                        data-image-focal-point="0.5,0.5"
                                        data-load="false"
                                        data-image-id="5b40f7f9575d1f7f89735f85"
                                        data-type="image"
                                        style="left: 0%; top: -40.541391%; width: 100%; height: 181.082781%; position: absolute;"
                                        alt="HotelTonight"
                                        data-image-resolution="500w"
                                        src="https://images.squarespace-cdn.com/content/v1/54b21b50e4b0ded43011c17c/1530984441229-M7Z6982TF2683FFM73D0/HotelTonight?format=500w"
                                    />

                                </div>
                            </div>

                        </figure>

                    </div>

                </div></div><div
                class="sqs-block html-block sqs-block-html"
                data-block-type="2"
                id="block-yui_3_17_2_1_1530984722879_22749"
            ><div class="sqs-block-content">

                    <h3 style="white-space:pre-wrap;">HotelTonight, Senior iOS
                        Developer</h3><p
                        class=""
                        style="white-space:pre-wrap;"
                    >Implemented accessibility support in the existing iPhone
                        app. Added support for collecting user reviews to iPhone
                        app. Co-developed iPad app from scratch, which was
                        featured by Apple and maintains a 4.5 star rating.</p>

                </div></div><div
                class="sqs-block image-block sqs-block-image sqs-col-2 span-2 float float-right sqs-text-ready"
                data-aspect-ratio="62.40875912408759"
                data-block-type="5"
                id="block-yui_3_17_2_1_1540657989400_30240"
            ><div class="sqs-block-content" id="yui_3_17_2_1_1672872496230_155">

                    <div
                        class="image-block-outer-wrapper layout-caption-hidden design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none sqs-narrow-width"
                        data-test="image-block-inline-outer-wrapper"
                        id="yui_3_17_2_1_1672872496230_154"
                    >

                        <figure
                            class="sqs-block-image-figure intrinsic"
                            style="max-width:500px;"
                            id="yui_3_17_2_1_1672872496230_153"
                        >

                            <div
                                class="image-block-wrapper"
                                data-animation-role="image"
                                id="yui_3_17_2_1_1672872496230_152"
                            >
                                <div
                                    class="sqs-image-shape-container-element has-aspect-ratio"
                                    style="
                position: relative;

                  padding-bottom:62.40876007080078%;

                overflow: hidden;
              "
                                    id="yui_3_17_2_1_1672872496230_151"
                                >

                                    <noscript>&lt;img
                                        src="https://images.squarespace-cdn.com/content/v1/54b21b50e4b0ded43011c17c/1540658419769-KAVVZHQWEG9AH0RBPH77/Second+Gear+Logo+On+Top+2010.png"
                                        alt="Second Gear Logo On Top 2010.png"
                                        /&gt;</noscript><img
                                        class="thumb-image loaded"
                                        data-src="https://images.squarespace-cdn.com/content/v1/54b21b50e4b0ded43011c17c/1540658419769-KAVVZHQWEG9AH0RBPH77/Second+Gear+Logo+On+Top+2010.png"
                                        data-image="https://images.squarespace-cdn.com/content/v1/54b21b50e4b0ded43011c17c/1540658419769-KAVVZHQWEG9AH0RBPH77/Second+Gear+Logo+On+Top+2010.png"
                                        data-image-dimensions="500x316"
                                        data-image-focal-point="0.5,0.5"
                                        data-load="false"
                                        data-image-id="5bd494f3c830255a54b9d748"
                                        data-type="image"
                                        style="left: 0%; top: -0.796262%; width: 100%; height: 101.592523%; position: absolute;"
                                        alt="Second Gear Logo On Top 2010.png"
                                        data-image-resolution="500w"
                                        src="https://images.squarespace-cdn.com/content/v1/54b21b50e4b0ded43011c17c/1540658419769-KAVVZHQWEG9AH0RBPH77/Second+Gear+Logo+On+Top+2010.png?format=500w"
                                    />

                                </div>
                            </div>

                        </figure>

                    </div>

                </div></div><div
                class="sqs-block html-block sqs-block-html"
                data-block-type="2"
                id="block-yui_3_17_2_1_1540657989400_30516"
            ><div class="sqs-block-content">

                    <h3 style="white-space:pre-wrap;">Second Gear</h3><p
                        class=""
                        style="white-space:pre-wrap;"
                    >From 2006 to 2012, I ran an independent Mac and iOS
                        software development company called Second Gear. Under
                        the Second Gear banner I released products a variety of
                        different products (with varying success)
                    </p><ul data-rte-list="default"><li><p
                                class=""
                                style="white-space:pre-wrap;"
                            ><a
                                    href="https://www.macupdate.com/app/mac/27366/today"
                                    target="_blank"
                                >Today</a>
                                — Mac OS X calendaring application designed to
                                show only your current day’s agenda and to-do
                                list.
                            </p></li><li><p
                                class=""
                                style="white-space:pre-wrap;"
                            ><a
                                    href="https://www.cnet.com/news/iphone-app-pockettweets/"
                                    target="_blank"
                                >PocketTweets</a>
                                — A “sweet” solution for browsing your Twitter
                                feed on the original iPhone.
                            </p></li><li><p
                                class=""
                                style="white-space:pre-wrap;"
                            ><a
                                    href="https://www.cultofmac.com/55845/elements-for-ipad-is-a-perfect-dropbox-syncing-text-editor-for-writers/"
                                    target="_blank"
                                >Elements</a>
                                — The first notes and writing app for the iPad
                                that synced with Dropbox.</p></li></ul>

                </div></div></div></div>
    <div class="row sqs-row" id="yui_3_17_2_1_1672872496230_176"><div
            class="col sqs-col-4 span-4"
        ><div
                class="sqs-block html-block sqs-block-html"
                data-block-type="2"
                id="block-033d278d2a2e042c5787"
            ><div class="sqs-block-content">

                    <h1 style="white-space:pre-wrap;">Education</h1>

                </div></div></div><div
            class="col sqs-col-8 span-8"
            id="yui_3_17_2_1_1672872496230_175"
        ><div
                class="sqs-block html-block sqs-block-html"
                data-block-type="2"
                id="block-9806a727d759e0349a8c"
            ><div class="sqs-block-content">

                    <p class="" style="white-space:pre-wrap;">I have a
                        Bachelor&nbsp;of Science degree in Computer &amp;
                        Information Technology from Purdue University in West
                        Lafayette, Indiana.</p>

                </div></div><div
                class="sqs-block image-block sqs-block-image sqs-text-ready"
                data-block-type="5"
                id="block-yui_3_17_2_22_1420998762407_69163"
            ><div class="sqs-block-content" id="yui_3_17_2_1_1672872496230_174">

                    <div
                        class="image-block-outer-wrapper layout-caption-hidden design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none"
                        data-test="image-block-inline-outer-wrapper"
                        id="yui_3_17_2_1_1672872496230_173"
                    >

                        <figure
                            class="sqs-block-image-figure intrinsic"
                            style="max-width:100%;"
                            id="yui_3_17_2_1_1672872496230_172"
                        >

                            <a
                                class="sqs-block-image-link"
                                href="http://purdue.edu"
                                target="_blank"
                                id="yui_3_17_2_1_1672872496230_171"
                            >

                                <div
                                    class="image-block-wrapper"
                                    data-animation-role="image"
                                    id="yui_3_17_2_1_1672872496230_170"
                                >
                                    <div
                                        class="sqs-image-shape-container-element has-aspect-ratio"
                                        style="
                position: relative;

                  padding-bottom:66.39999389648438%;

                overflow: hidden;
              "
                                        id="yui_3_17_2_1_1672872496230_169"
                                    >

                                        <noscript>&lt;img
                                            src="https://images.squarespace-cdn.com/content/v1/54b21b50e4b0ded43011c17c/1421003275205-YF1WJPGQQJ4JSGL8D980/image-asset.jpeg"
                                            alt="Photo by Jason Titzer/iStock /
                                            Getty Images" /&gt;</noscript><img
                                            class="thumb-image loaded"
                                            data-src="https://images.squarespace-cdn.com/content/v1/54b21b50e4b0ded43011c17c/1421003275205-YF1WJPGQQJ4JSGL8D980/image-asset.jpeg"
                                            data-image="https://images.squarespace-cdn.com/content/v1/54b21b50e4b0ded43011c17c/1421003275205-YF1WJPGQQJ4JSGL8D980/image-asset.jpeg"
                                            data-image-dimensions="2500x1660"
                                            data-image-focal-point="0.5,0.5"
                                            data-load="false"
                                            data-image-id="54b2bad7e4b0a4c43d393287"
                                            data-type="image"
                                            style="left: -0.009926%; top: 0%; width: 100.019851%; height: 100%; position: absolute;"
                                            alt="Photo by Jason Titzer/iStock / Getty Images"
                                            data-image-resolution="2500w"
                                            src="https://images.squarespace-cdn.com/content/v1/54b21b50e4b0ded43011c17c/1421003275205-YF1WJPGQQJ4JSGL8D980/image-asset.jpeg?format=2500w"
                                        />

                                    </div>
                                </div>

                            </a>

                        </figure>

                    </div>

                </div></div></div></div>

</section>
<section
    id="projects"
    class="Index-page"
    data-collection-id="55e8c1d0e4b0e89e0837c51d"
    data-parallax-id="55e8c1d0e4b0e89e0837c51d"
    data-edit-main-image="Background"
>

    <div class="Index-page-content">
        <div
            class="sqs-layout sqs-grid-12 columns-12"
            data-type="page"
            data-updated-on="1564194563584"
            id="page-55e8c1d0e4b0e89e0837c51d"
        ><div class="row sqs-row"><div class="col sqs-col-4 span-4"><div
                        class="sqs-block html-block sqs-block-html"
                        data-block-type="2"
                        id="block-yui_3_17_2_1_1530982480457_4473"
                    ><div class="sqs-block-content">

                            <h1 style="white-space:pre-wrap;">Projects</h1><p
                                class=""
                                style="white-space:pre-wrap;"
                            >&nbsp;</p>

                        </div></div></div><div class="col sqs-col-8 span-8"><div
                        class="sqs-block html-block sqs-block-html"
                        data-block-type="2"
                        id="block-yui_3_17_2_11_1441317135577_2805"
                    ><div class="sqs-block-content">

                            <h2 style="white-space:pre-wrap;"><a
                                    href="https://github.com/justin/Achieving-Zen-With-Auto-Layout/"
                                >Achieving Zen With Auto Layout (2nd Edition)</a></h2><p
                                class=""
                                style="white-space:pre-wrap;"
                            >The 2nd edition of my Auto Layout book has been
                                freshly updated to cover all the new layout
                                features in iOS 9. I also took the opportunity
                                to update all the sample code and related
                                projects to use Swift 2.0.</p><h2
                                style="white-space:pre-wrap;"
                            ><a href="https://vimeo.com/137550517">Mastering
                                    Auto Layout</a></h2><p
                                class=""
                                style="white-space:pre-wrap;"
                            >I gave a talk at 360iDev 2015 about the new
                                features and functionality in Auto Layout for
                                iOS 9. Consider it the cliffs notes version of
                                the book.</p><h2
                                style="white-space:pre-wrap;"
                            ><a
                                    href="https://github.com/rentzch/mogenerator"
                                >mogenerator</a></h2><p
                                class=""
                                style="white-space:pre-wrap;"
                            >Commit access to popular open source project to
                                automatically convert a Core Data model to
                                source code. Recently spearheaded releases to
                                add support for Objective-C lightweight generics
                                and nullability attributes. Lead work on
                                updating to Swift 2.0 and in-progress to
                                re-architect generator to produce more
                                Swift-centric source code.</p><h2
                                style="white-space:pre-wrap;"
                            ><a href="/cocoaradio">CocoaRadio Archives</a></h2><p
                                class=""
                                style="white-space:pre-wrap;"
                            >Though some of the content is a bit dated, I am
                                still proud of the quality and content of the
                                podcast I produced in 2014.&nbsp;</p>

                        </div></div></div></div></div>
    </div>

</section>
<section
    id="essays"
    class="Index-page"
    data-collection-id="54b2b240e4b0c108166ae9cd"
    data-parallax-id="54b2b240e4b0c108166ae9cd"
    data-edit-main-image="Background"
>

    <div class="Index-page-content">
        <div
            class="sqs-layout sqs-grid-12 columns-12"
            data-type="page"
            data-updated-on="1530982997309"
            id="page-54b2b240e4b0c108166ae9cd"
        ><div class="row sqs-row"><div class="col sqs-col-4 span-4"><div
                        class="sqs-block html-block sqs-block-html"
                        data-block-type="2"
                        id="block-yui_3_17_2_41_1420998762407_4886"
                    ><div class="sqs-block-content">

                            <h1>Essays</h1>

                        </div></div></div><div class="col sqs-col-8 span-8"><div
                        class="row sqs-row"
                    ><div class="col sqs-col-4 span-4"><div
                                class="sqs-block html-block sqs-block-html"
                                data-block-type="2"
                                id="block-yui_3_17_2_3_1421002702539_8917"
                            ><div class="sqs-block-content">

                                    <h2><a
                                            href="https://medium.com/@justin/what-problem-are-you-solving-659e43f5154a"
                                        >What Problem Are You Solving?</a></h2><p
                                    ><em>If the answer to “who is your product’s
                                            audience” is “anyone with an iPhone
                                            or Android device,” you are likely
                                            screwed.&nbsp;</em></p>

                                </div></div></div><div
                            class="col sqs-col-4 span-4"
                        ><div
                                class="sqs-block html-block sqs-block-html"
                                data-block-type="2"
                                id="block-yui_3_17_2_41_1420998762407_15952"
                            ><div class="sqs-block-content">

                                    <h2><a
                                            href="https://medium.com/@justin/repurposing-the-titanic-1f01ff8482d4"
                                        >Repurposing The Titanic</a></h2><p><em
                                        >My biggest mistake with Glassboard was
                                            having blinders to the fact that the
                                            design decisions Sepia Labs made
                                            when building Glassboard would
                                            likely clash with mine. That doesn’t
                                            have anything to do with visual
                                            design. Instead, I’m referring to
                                            the platform architecture decisions
                                            they made as a funded startup, or
                                            spin-off, or whatever they were.</em></p>

                                </div></div></div></div><div
                        class="sqs-block spacer-block sqs-block-spacer"
                        data-aspect-ratio="2.301255230125523"
                        data-block-type="21"
                        id="block-yui_3_17_2_41_1420998762407_17043"
                    ><div
                            class="sqs-block-content sqs-intrinsic"
                            style="padding-bottom: 2.301255%;"
                            id="yui_3_17_2_1_1672872496230_199"
                        >&nbsp;</div></div><div class="row sqs-row"><div
                            class="col sqs-col-4 span-4"
                        ><div
                                class="sqs-block html-block sqs-block-html"
                                data-block-type="2"
                                id="block-yui_3_17_2_41_1420998762407_17129"
                            ><div class="sqs-block-content">

                                    <h2><a
                                            href="https://medium.com/@justin/ninety-days-d0974b5c6311"
                                        >Ninety Days</a></h2><p><em>Ninety days
                                            is a good amount of time to get a
                                            semi-polished 1.0 out in the world,
                                            especially in mobile. It won’t have
                                            every feature that you wanted to
                                            ship, but it will be out there and
                                            either be validated or invalidated
                                            by the buying public.</em></p>

                                </div></div></div><div
                            class="col sqs-col-4 span-4"
                        ><div
                                class="sqs-block html-block sqs-block-html"
                                data-block-type="2"
                                id="block-yui_3_17_2_41_1420998762407_18417"
                            ><div class="sqs-block-content">

                                    <h2><a
                                            href="https://medium.com/@justin/whats-it-like-to-be-robbed-6f10b386c36b"
                                        >What's It Like To Be Robbed?</a></h2><p
                                    ><em>You sacrifice for several years saving
                                            up money for your first house. You
                                            get the money. You find the home.
                                            Contracts are signed. Money is
                                            transferred. This house is now your
                                            home.</em></p><p><em>And then one
                                            day you come home and see the back
                                            door smashed in. A large piece of
                                            wooden trim on the floor. Drawers in
                                            every room opened and rummaged
                                            through. Everything is missing.
                                            Everything.</em></p>

                                </div></div></div></div><div
                        class="row sqs-row"
                    ><div class="col sqs-col-4 span-4"><div
                                class="sqs-block html-block sqs-block-html"
                                data-block-type="2"
                                id="block-yui_3_17_2_3_1421002702539_14538"
                            ><div class="sqs-block-content">

                                    <h2><a
                                            href="https://medium.com/@justin/the-auteur-theory-bb0edae70e0f"
                                        >The Auteur Theory</a></h2><p><em>The
                                            best creative works, whether they be
                                            TV shows, books, or apps, are the
                                            products of focus and vision. At
                                            Apple, that was Steve Jobs and Jony
                                            Ive. WebOS had Matias Duarte, who
                                            has been doing wonders cleaning up
                                            the mess that was the Android
                                            experience. James Dyson does it for
                                            vacuums.&nbsp;</em></p>

                                </div></div></div><div
                            class="col sqs-col-4 span-4"
                        ><div
                                class="sqs-block html-block sqs-block-html"
                                data-block-type="2"
                                id="block-yui_3_17_2_3_1421002702539_17794"
                            ><div class="sqs-block-content">

                                    <h2><a
                                            target="_blank"
                                            href="https://medium.com/made-by-ted/ted-3-0-working-effectively-with-legacy-ios-code-153511d50553#.iy6f3k7hb"
                                        >TED 3.0: Working Effectively With
                                            Legacy Code</a></h2><p><em>When TED
                                            shipped back in 2010 it was written
                                            entirely in Objective-C and designed
                                            to work on two device sizes: the
                                            iPhone 3GS and original iPad. Now we
                                            support phones as small as the
                                            iPhone 4s up to iPads like the 12.9"
                                            iPad Pro. In that entire time, we
                                            have continued to update the same
                                            app code base. There has never been
                                            a full-on rewrite of the iOS
                                            project, as tempting as it may be at
                                            times.</em></p>

                                </div></div></div></div></div></div></div>
    </div>

</section>
<section
    id="contact"
    class="Index-page"
    data-collection-id="54b2ae10e4b027b1609ca00b"
    data-parallax-id="54b2ae10e4b027b1609ca00b"
    data-edit-main-image="Background"
>

    <div class="Index-page-content">
        <div
            class="sqs-layout sqs-grid-12 columns-12"
            data-type="page"
            data-updated-on="1655748680141"
            id="page-54b2ae10e4b027b1609ca00b"
        ><div class="row sqs-row"><div class="col sqs-col-6 span-6"><div
                        class="sqs-block html-block sqs-block-html"
                        data-block-type="2"
                        id="block-d5a4455612631abc7ec0"
                    ><div class="sqs-block-content">

                            <h1 style="white-space:pre-wrap;">Contact Me</h1><p
                                class=""
                                style="white-space:pre-wrap;"
                            >Please use this form if you would like to get in
                                touch me in regards to
                                <a href="/resume"><strong>hiring me</strong></a>,
                                inviting me to speak at your company or event,
                                or anything else. I'll do my best to get back to
                                you within seventy-two hours.</p>

                        </div></div></div><div class="col sqs-col-6 span-6"><div
                        class="sqs-block form-block sqs-block-form"
                        data-block-type="9"
                        id="block-yui_3_17_2_49_1420991495883_4356"
                    ><div class="sqs-block-content">

                            <div class="form-wrapper">

                                <div class="form-inner-wrapper">
                                    <form
                                        data-form-id="54b2ae78e4b0c8ff1ac47c8b"
                                        data-success-redirect=""
                                        data-dynamic-strings=""
                                        autocomplete="on"
                                        method="POST"
                                        action="https://justin-williams-gip7.squarespace.com"
                                        novalidate=""
                                        onsubmit="return (function (form) {
  Y.use('squarespace-form-submit', 'node', function usingFormSubmit(Y) {
    (new Y.Squarespace.FormSubmit(form)).submit({
      formId: '54b2ae78e4b0c8ff1ac47c8b',
      collectionId: '54b2ae10e4b027b1609ca00b',
      objectName: 'page-54b2ae10e4b027b1609ca00b'
    });
  });
  return false;
})(this);"
                                    >

                                        <div class="field-list clear">

                                            <fieldset
                                                id="name-yui_3_17_2_1_1420991495883_193010"
                                                class="form-item fields name required"
                                            >

                                                <legend class="title">
                                                    Name

                                                    <span
                                                        class="required"
                                                        aria-hidden="true"
                                                    >*</span>

                                                </legend>

                                                <div class="field first-name">
                                                    <label class="caption">
                                                        <input
                                                            class="field-element field-control"
                                                            name="fname"
                                                            x-autocompletetype="given-name"
                                                            type="text"
                                                            spellcheck="false"
                                                            maxlength="30"
                                                            data-title="First"
                                                            aria-required="true"
                                                        />
                                                        <span
                                                            class="caption-text"
                                                        >First Name</span>
                                                    </label>
                                                </div>
                                                <div class="field last-name">
                                                    <label class="caption">
                                                        <input
                                                            class="field-element field-control"
                                                            name="lname"
                                                            x-autocompletetype="surname"
                                                            type="text"
                                                            spellcheck="false"
                                                            maxlength="30"
                                                            data-title="Last"
                                                            aria-required="true"
                                                        />
                                                        <span
                                                            class="caption-text"
                                                        >Last Name</span>
                                                    </label>
                                                </div>
                                            </fieldset>

                                            <div
                                                id="email-yui_3_17_2_1_1420991495883_193340"
                                                class="form-item field email required"
                                            >

                                                <label
                                                    class="title"
                                                    for="email-yui_3_17_2_1_1420991495883_193340-field"
                                                >
                                                    Email Address

                                                    <span
                                                        class="required"
                                                        aria-hidden="true"
                                                    >*</span>

                                                </label>

                                                <input
                                                    class="field-element"
                                                    id="email-yui_3_17_2_1_1420991495883_193340-field"
                                                    name="email"
                                                    type="email"
                                                    autocomplete="email"
                                                    spellcheck="false"
                                                    aria-required="true"
                                                />
                                            </div>

                                            <div
                                                id="text-yui_3_17_2_1_1420991495883_193754"
                                                class="form-item field text required"
                                            >

                                                <label
                                                    class="title"
                                                    for="text-yui_3_17_2_1_1420991495883_193754-field"
                                                >
                                                    Subject

                                                    <span
                                                        class="required"
                                                        aria-hidden="true"
                                                    >*</span>

                                                </label>

                                                <input
                                                    class="field-element text"
                                                    type="text"
                                                    id="text-yui_3_17_2_1_1420991495883_193754-field"
                                                    aria-required="true"
                                                />
                                            </div>

                                            <div
                                                id="textarea-yui_3_17_2_1_1420991495883_194168"
                                                class="form-item field textarea required"
                                            >

                                                <label
                                                    class="title"
                                                    for="textarea-yui_3_17_2_1_1420991495883_194168-field"
                                                >
                                                    Message

                                                    <span
                                                        class="required"
                                                        aria-hidden="true"
                                                    >*</span>

                                                </label>

                                                <textarea
                                                    class="field-element"
                                                    id="textarea-yui_3_17_2_1_1420991495883_194168-field"
                                                    aria-required="true"
                                                ></textarea>
                                            </div>

                                        </div>

                                        <div
                                            data-animation-role="button"
                                            class="form-button-wrapper form-button-wrapper--align-left"
                                        >
                                            <input
                                                class="button sqs-system-button sqs-editable-button sqs-button-element--primary"
                                                type="submit"
                                                value="Submit"
                                            />
                                        </div>

                                        <div
                                            class="hidden form-submission-text"
                                        ><p>Thanks. I'll be in touch.</p></div>
                                        <div
                                            class="hidden form-submission-html"
                                            data-submission-html=""
                                        ></div>
                                    </form>
                                </div>
                            </div>
                        </div></div></div></div></div>
    </div>

</section>
<section
    id="social"
    class="Index-page"
    data-collection-id="5b40f0f8575d1f7f897276d6"
    data-parallax-id="5b40f0f8575d1f7f897276d6"
    data-edit-main-image="Background"
>

    <div class="Index-page-content">
        <div
            class="sqs-layout sqs-grid-12 columns-12"
            data-type="page"
            data-updated-on="1530982688642"
            id="page-5b40f0f8575d1f7f897276d6"
        ><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div
                        class="sqs-block socialaccountlinks-v2-block sqs-block-socialaccountlinks-v2"
                        data-block-type="54"
                        id="block-yui_3_17_2_2_1490818390561_18856"
                    ><div class="sqs-block-content">

                            <div
                                class="sqs-svg-icon--outer social-icon-alignment-center social-icons-color-black social-icons-size-extra-large social-icons-shape-circle social-icons-style-border"
                            >
                                <style>
                                    #block-yui_3_17_2_2_1490818390561_18856
                                    .social-icons-style-border
                                    .sqs-svg-icon--wrapper { box-shadow: 0 0 0
                                    2px inset; border: none; }
                                </style>
                                <nav class="sqs-svg-icon--list">
                                    <a
                                        href="https://github.com/justin"
                                        target="_blank"
                                        class="sqs-svg-icon--wrapper github"
                                        aria-label="Justin Williams"
                                    >
                                        <div>
                                            <svg
                                                class="sqs-svg-icon--social"
                                                viewBox="0 0 64 64"
                                            >
                                                <use
                                                    class="sqs-use--icon"
                                                    xlink:href="#github-icon"
                                                ></use>
                                                <use
                                                    class="sqs-use--mask"
                                                    xlink:href="#github-mask"
                                                ></use>
                                            </svg>
                                        </div>
                                    </a><a
                                        href="https://www.linkedin.com/in/justinwilliams1"
                                        target="_blank"
                                        class="sqs-svg-icon--wrapper linkedin"
                                        aria-label="Justin Williams"
                                    >
                                        <div>
                                            <svg
                                                class="sqs-svg-icon--social"
                                                viewBox="0 0 64 64"
                                            >
                                                <use
                                                    class="sqs-use--icon"
                                                    xlink:href="#linkedin-icon"
                                                ></use>
                                                <use
                                                    class="sqs-use--mask"
                                                    xlink:href="#linkedin-mask"
                                                ></use>
                                            </svg>
                                        </div>
                                    </a><a
                                        href="https://twitter.com/justin"
                                        target="_blank"
                                        class="sqs-svg-icon--wrapper twitter"
                                        aria-label="Justin Williams"
                                    >
                                        <div>
                                            <svg
                                                class="sqs-svg-icon--social"
                                                viewBox="0 0 64 64"
                                            >
                                                <use
                                                    class="sqs-use--icon"
                                                    xlink:href="#twitter-icon"
                                                ></use>
                                                <use
                                                    class="sqs-use--mask"
                                                    xlink:href="#twitter-mask"
                                                ></use>
                                            </svg>
                                        </div>
                                    </a>
                                </nav>
                            </div>
                        </div></div></div></div></div>
    </div>

</section>