{{!< default}}

<section class="p-outer">
<div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_12_1420991495883_10887"><div class="sqs-block-content">

<h1 style="white-space:pre-wrap;">Hello.</h1><p class="" style="white-space:pre-wrap;">Hi. My name is <strong>Justin Williams</strong>. I am an independent software developer located in sunny Denver, Colorado.&nbsp;</p><h2 style="white-space:pre-wrap;">Where You May Know Me From</h2><ul data-rte-list="default"><li><p class="" style="white-space:pre-wrap;"><strong>PocketTweets</strong> — The first iPhone Twitter client way back in the summer of 2007.</p></li><li><p class="" style="white-space:pre-wrap;"><strong>Elements</strong> — The first Dropbox text editor for the iPhone and iPad. Released in the summer of 2011.</p></li><li><p class="" style="white-space:pre-wrap;"><strong>Glassboard</strong> — The privacy-focused messaging platform for iOS and Android I acquired in December 2013.</p></li><li><p class="" style="white-space:pre-wrap;"><a href="/cocoaradio"><strong>CocoaRadio</strong></a> — The Apple developer-oriented podcast I hosted in 2014.</p></li><li><p class="" style="white-space:pre-wrap;"><a href="https://github.com/justin/Achieving-Zen-With-Auto-Layout/"><strong>Achieving Zen with Auto Layout</strong></a> — The popular developer conference talk and book I produced from 2013-2014.</p></li></ul>


</div></div>
</section>